<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">代码社区</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:if="${session.user} == null">
                <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=bbf3271b736489a25f76&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
            </li>
            <li class="nav-item dropdown" th:unless="${session.user} == null">
                <img  id="head_img" src="" style="float: left;width: 50px;height: 50px;border-radius:50%"  alt="">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">消息中心</a>
                    <a class="dropdown-item" href="#">个人资料</a>
                    <a class="dropdown-item" href="/logout">退出登录</a>
                </div>
            </li>
        </ul>
        <a class="btn btn-info" href="/publish">发起问题</a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="问题搜索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>
<div class="container-fluid border" style="margin-top: 30px;width: 90%">
    <div class="row">
        <div class="col-xl-9 col-lg-9 clo-md-12 clo-sm-12 border-right">
            <h2 style="margin-top: 20px"><svg class="bi bi-list-ul" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7 13.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm-3 1a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
            </svg>
                列表</h2>
            <hr class="simple">
            <div class="media" th:each="question : ${paginations.questions}">
                <img  th:src="${question.user.headimg}" class="img-rounded" alt="...">
                <div class="media-body">
                    <a href="#" class="mt-0"><span th:text="${question.title}"></span></a><br>
<!--                    <span style="font-size: small" th:utext="${question.description}"></span><br>-->
                    <span class="comment_des">
                        • <span th:text="${question.user.name}"></span> 发起了问题
                        • <span th:text="${question.like_count}"></span> 人关注
                        • <span th:text="${question.comment_count}"></span> 个回复
                        • <span th:text="${question.view_count}"></span> 次浏览
                        • <span th:text="${#dates.format(question.gmt_create, 'yyyy/MMM/dd HH:mm')}"></span>
                        <hr>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="firstPage">
                            <span aria-hidden="true">&laquo;</span>
                        </a>

                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="pre">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                    </li>
                    <li class="page-item" th:each="page : ${paginations.pages}"><a class="page-link" th:href="@{/(page=${page})}"  th:text="${page}"></a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="finalPage">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xl-3 col-lg-3 clo-md-12 clo-sm-12">
        </div>
    </div>
</div>
</body>
<script type="application/javascript" src="js/headimg.js"></script>
</html>