<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ti</title>
</head>
<body>

</body>
</html><!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <script src="https://cdn.bootcss.com/simditor/2.3.28/lib/simditor.js"></script>-->
    <link href="https://cdn.bootcss.com/simditor/2.3.28/styles/simditor.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.12.1/css/fontawesome.css" rel="stylesheet">
<!--    <script src="https://cdn.bootcss.com/ckeditor/4.11.3/ckeditor.js"></script>-->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/module.js"></script>
    <script type="text/javascript" src="js/uploader.js"></script>
    <script type="text/javascript" src="js/hotkeys.js"></script>
    <script type="text/javascript" src="js/simditor.js"></script>
    <script type="text/javascript" src="js/page-demo.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">代码社区</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:if="${session.user} == null">
                <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=bbf3271b736489a25f76&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
            </li>

            <li class="nav-item dropdown" th:unless="${session.user} == null">
                <img id="head_img" src="" style="border-radius:50%;float: left;width: 50px;height: 50px"  alt="">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">消息中心</a>
                    <a class="dropdown-item" href="#">个人资料</a>
                    <a class="dropdown-item" href="/logout">退出登录</a>
                </div>
            </li>
        </ul>
        <a class="btn btn-info" href="/publish">发起问题</a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="问题搜索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>
<span style="color: brown" th:text="${error}"></span>
<div class="container-fluid border" style="margin-top: 30px;width: 90%">
    <div class="row">
        <div class="col-xl-9 col-lg-9 clo-md-12 clo-sm-12 border-right">
            <h2><svg class="bi bi-documents" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5 4h8a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V6a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6a1 1 0 00-1-1H5z" clip-rule="evenodd"></path>
                <path d="M7 2h8a2 2 0 012 2v10a2 2 0 01-2 2v-1a1 1 0 001-1V4a1 1 0 00-1-1H7a1 1 0 00-1 1H5a2 2 0 012-2z"></path>
            </svg>发起</h2>
            <hr class="simple">
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input required type="text" name="title" class="form-control" id="title" placeholder="问题标题。。。">
                </div>
                <div class="form-group">
                    <label for="bio">问题补充（必填，请参照右侧提示）</label>
                    <textarea name="description" id="bio" autofocus></textarea>

                    <script>
                        var editor = new Simditor({
                            textarea: $('#bio'),
                            placeholder: '问题描述。。。'
                            //optional options
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="tag">问题标签</label>
                    <input type="text" required class="form-control" name="tag" id="tag" placeholder="example:java,python...">
                </div>


                <button type="submit" class="btn btn-success">发布</button>
            </form>
        </div>
        <div class="col-xl-3 col-lg-3 clo-md-12 clo-sm-12">
            <h2>问题发起指南</h2>
            <ul>
                <li>问题标题：不超过25个字</li>
                <li>问题补充：请详细描述</li>
            </ul>
        </div>
    </div>
</div>
</body>
<script type="application/javascript" src="js/headimg.js"></script>

</html>